fastapi
uvicorn
sqlalchemy
pg8000
pydantic
pydantic[email]
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-dotenv
email-validator
httpx
pytest
gunicorn
google-genai
