/* GLOBAL */
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #ffffff;
}

/* TOP BAR */
.navbar {
    width: 100%;
    background: #0e7bf1;
    padding: 15px 0;
    
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    opacity: 0.7;
}
/* MAIN GRID */
.case-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    max-width: 1300px;
    margin: 30px auto;
    padding: 0 20px;
}

/* CARDS */
.card {
    background: #32a7ff;
    padding: 18px;
    border-radius: 8px;
    color: #ffffff;
}

.card-title {
    margin: 0 0 10px 0;
    font-size: 17px;
    font-weight: 600;
}

.case-title {
    font-size: 20px;
    margin: 5px 0;
}

.case-status span {
    font-weight: 600;
}
.left-column > div {
    margin-bottom: 25px !important;
}


/* MAP & MEDIA IMAGES */
.map-img,
.media-img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

/* SUMMARY */
.summary-text {
    line-height: 1.5;
    font-size: 15px;
}

/* DROPDOWN */
.dropdown-card {
    background: #32a7ff;
    padding: 12px;
    border-radius: 8px;
}

.case-status-dropdown {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    outline: none;
}

/* BACK BUTTON */
.back-btn {
    display: inline-block;
    margin-top: 8px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

/* CASE UPDATES */
.update-entry {
    margin-bottom: 15px;
}

.update-time {
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 4px;
}

.update-text {
    font-size: 15px;
}

/* UPDATE BUTTON */
.update-container {
    text-align: center;
    margin: 20px 0;
}

.update-btn {
    background: #0e7bf1;
    color: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

/* FOOTER */
.footer {
    background: #0e7bf1;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
}

.footer-logo {
    font-size: 20px;
    font-weight: 700;
}

.footer-links a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: white;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .case-container {
        grid-template-columns: 1fr;
    }

    .right-column, .left-column {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .update-btn {
        width: 80%;
    }
}
